{:paths ["src"]
 :deps {io.github.hatappo/replicant-inertia {:local/root "../../replicant-inertia"}
        no.cjohansen/replicant {:mvn/version "2025.12.1"}
        thheller/shadow-cljs {:mvn/version "3.4.5"}}}
